*{
    padding: 0;
    margin: 0;
}
.menu{
    width: 100%;
    margin-top: 1rem;
    margin-right: 1rem;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content: flex-end;
    
}
.menu > div ul{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    padding: 1.2rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #05c46b;
}
.menu > div ul li {
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
}
.menu i{
    font-size: 1.5rem;
    background-color: #05c46b;
    color: #fff;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 660px) {
    .menu > div{
        margin-top: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;        
    }
    .menu > div ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        gap: 5rem;
    
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: #05c46b;
    }
    .menu > div ul li {

    }
    .menu i{
        font-size: 1.5rem;
        background-color: #fff;
        color: #05c46b;
        padding: 1rem;
        margin-right: 1rem;
        border-radius: 50%;
        cursor: pointer;
        z-index: 2;
    }
}