
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Montserrat:wght@300&display=swap');

:root{
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}


main{
    padding-top: 7rem;
    position: relative;
}

header{
    width: 60%;
    margin: auto;
    text-align: left;
}
header h1{
    margin-bottom: 0.5rem;
    font-size: 3em;
}
header p{
    color: #3899DB;
    font-weight: bold;
    font-size: 1.3em;
}


/*tabela*/
table {
    border-collapse: collapse;
    width: 60%;
    margin: 4rem auto 1rem;
}
thead{
    font-weight: bolder;
    color: #2F4858;
}
  
th, td {
    text-align: left;
    padding: 0.6em;
}
tbody > tr:hover {
      background-color: rgb(56, 153, 219, 0.6);
}
tbody > tr td:nth-child(2) {
    font-weight: bolder;
}
tbody > tr td:first-of-type {
    color: rgb(56, 153, 219);
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
tbody > tr td:nth-child(3){
    font-size: 0.8em;
}
tbody > tr td:nth-child(3) span {
    display: inline-block;
    margin: 0px 5px;
}
.extern_git_links{
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
}
.extern_git_links i{
    font-size: 20px;
    color: #2F4858;
}
.extern_git_links i:hover{
    color: #3899DB;
}

.redes_contact{
    width: 40px;
    right: auto;
    z-index: 10;
    left: 40px;
    bottom: 0px;
    position: fixed;
}
.redes_contact li{
    list-style: none;
}
.redes_contact li i{
    font-size: 25px;
    color:  #2F4858;
    transition: var(--transition);
}
.redes_contact ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    -moz-box-align: center;
    margin: 0; 
    padding: 0;
    
}
.redes_contact ul::after, .email_contact > div::after{
    content: "";
    display: block;
    width: 1px;
    height: 6rem;
    margin: 0px auto;
    background-color: #2F4858;
}

.email_contact{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;

}
.email_contact > div{
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    position: relative;
}

.email_contact a{
    text-decoration: none;
    color: #2F4858;

    margin: 20px auto;
    padding: 10px;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    transition: var(--transition);
}
.email_contact a:hover, .redes_contact li i:hover{
    transform: translateY(-5px);
    color: #3899DB;
}
